# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/

# Environment
.env
.env.local

# Logs
*.log

# IDE
.vscode/
.idea/
.DS_Store

# Uploads
uploads/*
!uploads/.gitkeep
!uploads/documents/.gitkeep
!uploads/receipts/.gitkeep
!uploads/temp/.gitkeep

# Prisma
prisma/migrations/*_migration/